
@{
    ViewBag.Title = "Page7";
}

<br />
<br />

<form class="form-inline">

    <div class="row">
        <div class="col-md-8">
            11. Thinking back over the <b>past 4 weeks, did you....?</b><br />
            (Select one on each line)
        </div>

</div>
    <p class="control-label col-md-5">
        a. Have trouble falling asleep
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On some nights
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On most nights
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        b. Wake up several times per night
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On some nights
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On most nights
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        c. Have trouble staying asleep
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On some nights
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On most nights
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        d. Wake up after your usual amount of sleep feeling tired
        and worn out
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On some nights
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) On most nights
        </label>
    </div>
    <br />
    <br />
    <br />
    
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">12. These are questions about how it is for you to find, understand and use information related to health, illness and medical care.<br /> <b>Place select one each line that best matches your answer</b></div>
    </div>
    <div class="row">
        <div class="col-md-12"><b>How easy / difficult is it for you to....</b></div>
    </div>
    <br />
    <p class="control-label col-md-5">
        a. Judge when you need to get a second
        opinion from another doctor?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        b. Use information the doctor gives you to
        make decisions about your illness?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        c. Find information on how to manage
        mental health problems such as
        stress and depression?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        d. Judge if the information on health risks
        in the media is reliable (e.g. from TV or
        internet)?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        e. Find out about activities that are good for
        your mental well-being (e.g. meditation,
        exercise and walkking)?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        f. Understand information in the media on
        how to get healthier (e.g. from the internet,
        daily or weekly magazines)?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Easy
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very Difficult
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        g. How often do you need to have someone
        help you when you read instructions,
        pamphlets, or other written material from
        your doctor or pharmacy?
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Never
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Rarely
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Sometimes
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Often
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Always
        </label>
    </div>
    <br />
    <br />

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page6", "Questionnaire")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page8", "Questionnaire")</div></div>
    </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>
