@model PrelimWQ.ViewModels.Page12ViewModel
@{
    ViewBag.Title = "Page12";
}
@using (Html.BeginForm("Page12Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Section C: About You and Your Circumstances</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
        </div>
        <div>
            <p>
                This section contains general questions about yourself and your circumstances. Please
                follow the instructions and answer ALL of the questions relevant to you.
            </p>

        </div>
        <form class="form-inline">

            <div class="row">
                <div class="col-md-6">
                    1. What is your date of birth
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.C1_DOB, "{0:dd/MM/yyyy}", new { @class = "form-control", placeholder = "DD/MM/YYYY" })
                        <div class="input-group-addon">DD/MM/YYYY</div>
                    </div> 
                    
                </div>
                <div class="col-md-6">
                    
                </div>
                <div class="col-md-6">
                    (For example - if you were born on the 5th of June 1936, this would be entered as 05/06/1936)
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    2. Are You
                </div>
                <div class="col-md-3">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C2 == 1 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C2, "1") Female
                        </label>
                        <label class="btn btn-info @(Model.C2 == 2 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C2, "0") Male
                        </label>
                    </div>

                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    3. What is your ethnic group?<br />
                    <b>(Please select one option only)</b>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 1 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "1") White
                        </label>
                    </div>

                      
                    </div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 2 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "2") Black-Caribbean
                        </label>
                    </div>
                  
                </div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 3 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "3") Black-African
                        </label>
                    </div>
                  
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 4 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "4") Black-Other
                        </label>
                    </div>
                  
                </div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 5 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "5") Indian
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 6 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "6") Pakistani
                        </label>
                    </div>

                </div>
                <div class="col-md-6"></div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 7 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "7") Bangladeshi
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-2">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 8 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "8") Chinese
                        </label>
                    </div>
                   
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C3 == 9 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C3, "9") Other (please specify)
                        </label>
                    </div>
                  
                    <label class="radio-inline">
                        @Html.TextBoxFor(m => m.C3_other, null, new { @class = "form-control", placeholder = "Please Specify" })
                        @Html.ValidationMessageFor(m => m.C3_other)
                    </label>
                </div>


            </div>
            <hr />
            <div class="row">
                <div class="col-md-6">
                    4. How old were you when you left school?
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                       @Html.TextBoxFor(m => m.C4, "{0:#.#}", new { @class = "form-control", placeholder = "Age you left school" })
                        <div class="input-group-addon">years old</div>
                    </div> 
                    
                </div>

            </div>
            <hr />

            <div class="row">
                <div class="col-md-6">
                    5. Did you go on from school to full-time education or university?
                </div>
                <div class="col-md-3">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C5 == 1 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C5, "1") Yes
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-3">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C5 == 0 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C5, "0") No
                        </label>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-12">
                    6. Do you have any of the following qualifications? (Select all boxes that apply)
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.C6_a)
                           
                            a) O Levels / GCSEs (or equivalents)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label>
                           @Html.CheckBoxFor(m => m.C6_b)
                            b) A Levels (or equivalents)
                        </label>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.C6_c)
                            c) Vocational training certificate(s) (e.g. City and Guilds, NVQ)
                        </label>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label>
                           @Html.CheckBoxFor(m => m.C6_d)
                            d) University degree(s) or HND
                        </label>
                    </div>
                </div>
                <div class="col-md-6"></div>
                <div class="col-md-3">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBoxFor(m => m.C6_e)
                            e) Higher professional qualifications (e.g. in accountancy, law, etc.)
                        </label>
                    </div>
                </div>
            </div>
            <hr />


            <div class="row">
                <div class="col-md-4">
                    7. What is your current marital status?<br /> <b>(Please select one box only)</b>
                    <br />
                </div>

                <div class="col-md-8">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.C7 == 1 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C7, "1") Married
                        </label>
                        <label class="btn btn-info @(Model.C7 == 2 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C7, "2") Separated
                        </label>
                        <label class="btn btn-info @(Model.C7 == 3 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C7, "3") Divorced
                            as much care
                        </label>
                        <label class="btn btn-info @(Model.C7 == 4 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C7, "4") Widowed
                        </label>
                        <label class="btn btn-info @(Model.C7 == 5 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C7, "5") Cohabiting
                        </label>
                        <label class="btn btn-info @(Model.C7 == 6 ? "active":"")">
                            @Html.RadioButtonFor(m => m.C7, "6")  Single
                        </label>
                        
                    </div>
                   
                    
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-left" name="PreviousPage" id="Previous" value="Previous" />
                </div>
                @*<div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            75%
                        </div>
                    </div>
                </div>*@
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
                </div>
                <br />
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">
                            75%
                        </div>
                    </div>
                </div>
            </div>
        </form>
}