@model PrelimWQ.ViewModels.Page5ViewModel
@{
    ViewBag.Title = "Page5";
}

@using (Html.BeginForm("Page5Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Part 3</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
    </div>

        <form class="form-inline">

            <h5>These questions are about how you may manage your pain.</h5>

            <br />
            <p class="control-label col-md-12">
                1. In the <b>last month</b>, have you bought any of the following <b>medicines for your pain</b> from
                the chemist or supermarket <b>that were not prescribed by a doctor.</b>
                <br />(Please select one box for each)
            </p><br />

            <br />
            <br />
            <p class="control-label col-md-5">a. Paracetamol</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1a, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1a, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">b. Anti-inflammatory tablets (e.g. Ibuprofen, Naproxen)</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1b, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1b, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">c. Co-codamol (e.g. Solpadeine, Panadol)</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1c, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1c, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">d. Glucosamine / Chrondroitin sulphate</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1d, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1d, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                e. Anti-inflammatory creams, gels, rub-ons, sprays
                (e.g.  Emugel, Feldene, Ibuleve, Movelat, Traxam)
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1e, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_1e, "0") No
                </label>


            </div>
            <br />
            <br />


            <br />
            <p class="control-label col-md-12">
                2. In the <b>last 6 months</b>, have you seen any of these health care professionals
                <b>for your pains.</b>
            </p>
            <br />
            <br />
            <p class="control-label col-md-5">a. Consultant / hospital specialist</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2a, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2a, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">b. Physiotherapist</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2b, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2b, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">c. Hospital nurse</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2c, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2c, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">d. Chiropractor OR Osteopath</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2d, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2d, "0") No
                </label>


            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                e. Acupuncturist
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2e, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2e, "0") No
                </label>
            </div>
                        <br />
            <hr />
            <p class="control-label col-md-5">
                f. Other (please specify below)
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2f, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A3_2f, "0") No
                </label>
            </div>
            <p class="control-label col-md-5">
                @Html.TextBoxFor(m => m.A3_2f_other, null, new { @class = "form-control", placeholder = "Please Specify" })
                @Html.ValidationMessageFor(m => m.A3_2f_other)
            </p>
            <br />
            <br />







            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary pull-left" name="PreviousPage" id="Previous" value="Previous" />
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="31" aria-valuemin="0" aria-valuemax="100" style="width: 31%;">
                            31%
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
                </div>
            </div>

        </form>
}

