@model PrelimWQ.ViewModels.Page2ViewModel
@{
    ViewBag.Title = "Part 2 - Page 2";
}
@using (Html.BeginForm("Page2Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
           
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            <button type="submit" class="btn btn-success pull-right">Save Progress</button>
        </div>
    </div>



<form class="form-inline">
    <div class="form-group">

        <h5>(These next questions are about pain in the PAST 2 WEEKS.)</h5>
  <br />
        <p>
            4. In the <b>past 2 weeks, on average, how intense were each of these pains</b> rated on a
            0-10 scale where 0 is "no pain" and 10 is "pain as bad as could be"?
        </p>
        <p>
            (That is, your usual pain at times you were experiencing pain.)
        </p>
        <p><b>For each pain, please select box. For pains that do not apply to you please put select box 0 to indicate No Pain.</b></p>
        <div>
            @section Styles {
                <style>
                    .table th, .table td {
                        border-top: none !important;
                        border-left: none !important;
                    }
                </style>
            }
            <table class="table">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td>0</td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>a.</td>
                    <td>Headache</td>
                    <td>
                       @Html.RadioButtonFor(m => m.A2_4a, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4a, "10")
                    </td>
                </tr>
                <tr>
                    <td>b.</td>
                    <td>Neck pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4b, "10")
                    </td>
                </tr>
                <tr>
                    <td>c.</td>
                    <td>Shoulder pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4c, "10")
                    </td>
                </tr>
                <tr>
                    <td>d.</td>
                    <td>Hand / wrist pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4d, "10")
                    </td>
                </tr>
                <tr>
                    <td>e.</td>
                    <td>Chest pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4e, "10")
                    </td>
                </tr>
                <tr>
                    <td>f.</td>
                    <td>Stomach pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4f, "10")
                    </td>
                </tr>
                <tr>
                    <td>g.</td>
                    <td>Back pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4g, "10")
                    </td>
                </tr>
                <tr>
                    <td>h.</td>
                    <td>Hip pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4h, "10")
                    </td>
                </tr>
                <tr>
                    <td>i.</td>
                    <td>Knee pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4i, "10")
                    </td>
                </tr>
                <tr>
                    <td>j.</td>
                    <td>Foot / ankle pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "0")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "1")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "2")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "3")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "4")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "5")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "6")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "7")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "8")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "9")
                    </td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_4j, "10")
                    </td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-md-6 pull-left">@Html.ActionLink("Next", "Page1", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
            <div class="col-md-6 pull-right">@Html.ActionLink("Next", "Page3", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
        </div>


      
    </div>
</form>
}




