@model PrelimWQ.ViewModels.Page10ViewModel
@{
    ViewBag.Title = "Page10";
}
@using (Html.BeginForm("Page10Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Section B: Lifestyle</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
    </div>
<br />
<br />


<form class="form-inline">

    <div class="row">
        <div class="col-md-2">
            1. What is your weight?
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.B1_stones, "Stone", new { @class = "form-control" })  st
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.B1_llbs, "Lbs", new { @class = "form-control" }) lb
        </div>
        <div class="col-md-1">or</div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.B1_kgs, "Kgs", new { @class = "form-control" }) kg
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            2. What is your height?
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.B2_feet, "Feet", new { @class = "form-control" }) ft
        </div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.B2_inches, "Inches", new { @class = "form-control" }) in
        </div>
        <div class="col-md-1">or</div>
        <div class="col-md-3">
            @Html.TextBoxFor(m => m.B2_cms, "Cms", new { @class = "form-control" }) cm
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            3. Pick the description that matches you best
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">I have never smoked</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "1")
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">I am a former smoker (last smoked more than 12 months ago)</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "2")
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">I am a current smoker or I smoked regularly in the last 12 months and I smoke</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">1-5 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "3")
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">6-10 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "4")
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">11-15 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "5")
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">16-20 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "6")
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">More than 20 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.B3, "7")
            </label>
        </div>
        <br />
        <br />
    </div>
    <br />
    <br />
    <p class="control-label col-md-12">
        4. About how often do you drink alcohol?
        <br /><b>(Please put a cross in one box only)</b>
        <br />
        <br />
    </p>
    <div class="col-md-12">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B4, "6") Daily or
            almost
            daily
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B4, "5") 3 or 4
            times
            a week
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B4, "4") Once or
            twice a
            week
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B4, "3") 1 to 3
            times a
            month
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B4, "2") Special
            occasions
            only
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B4, "1") Never
        </label>
    </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            5. In an <b>average</b> week how many......
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5"><b>regular</b> (175ml) glasses of <b>wine</b> would you drink?<br /> (there are roughly four regular glasses in an average bottle)</div>
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.B5_a, "", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">pints of <b>beer</b> or <b>cider</b> would you drink?<br /> (includes bitter, lager, stout, ale, Guinness)</div>
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.B5_b, "", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5"><b>single</b> measures (25ml) of <b>spirits or liqueurs</b> would you drink?<br />(includes drinks such as whisky, gin, vodka)</div>
        <div class="col-md-1">
            @Html.TextBoxFor(m => m.B5_c, "", new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        6. Compared to 10 years ago, do you drink......
     
        <br />
        <br />
    </p>
    <div class="col-md-6">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B6, "1") More nowadays
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B6, "2") About the same
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B6, "3") Less nowadays
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.B6, "4") Don't know
        </label>
    </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6 pull-left">@Html.ActionLink("Previous", "Page9", "Questionnaires", new { id = Model.Id }, new { @class = "btn btn-primary" })</div>
        <div class="col-md-6">
            <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
        </div>
    </div>
</form>

}


