@model PrelimWQ.ViewModels.Page6ViewModel
@{
    ViewBag.Title = "Page6";
}

@using (Html.BeginForm("Page6Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Part 4</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
      
    </div>
        <div>
            <p>We would like to know if you have any other health problems,</p>
            <p>For each question, please select one box.</p>
        </div>
        <br />

        <form class="form-inline">


            <p class="control-label col-md-5">1. Do you have high blood pressure?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_1, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_1, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_1, "3") Not Sure
                </label>
            </div>
            <br />
            
            <hr />

            <p class="control-label col-md-5">2. Have you received blood pressure treatment?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_2, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_2, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_2, "3") Not Sure
                </label>
            </div>
         
            <br />
            <hr />
            <p class="control-label col-md-5">3. Do you suffer from diabetes?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_3, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_3, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_3, "3") Not Sure
                </label>
            </div>
         
            <br />
            <hr />
            <p class="control-label col-md-5">4. Do you have a chronic kidney disease?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_4, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_4, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_4, "3") Not Sure
                </label>
            </div>
       
            <br />
            <hr />
            <p class="control-label col-md-5">5. Have you suffered atrial fibrillation?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_5, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_5, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_5, "3") Not Sure
                </label>
            </div>
       
            <br />
            <hr />
            <p class="control-label col-md-5">6. Do you have rheumatoid arthritis?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_6, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_6, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_6, "3") Not Sure
                </label>
            </div>
        
            <br />
            <hr />
            <p class="control-label col-md-5">7. Have you ever suffered from cardiovascular disease??</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_7, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_7, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_7, "3") Not Sure
                </label>
            </div>
   
            <br />
            <hr />
            <p class="control-label col-md-5">
                8. Does a close relative under 60 suffer from cardiovascular
                disease?
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_8, "1") Yes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_8, "2") No
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_8, "3") Not Sure
                </label>
            </div>
            <br />
            <br />
            <br />

            <br />
            <br />
            <div class="row">
                <div class="col-md-12">9. Please respond by selecting one box for each statement</div>
            </div>
            <br />
            <p class="control-label col-md-5">
                a. I have trouble doing all of my regular
                leisure activities with others
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9a, "5") Never
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9a, "4") Rarely
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9a, "3") Sometimes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9a, "2") Usually
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9a, "1") Always
                </label>
            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                b. I have trouble doing all of the family
                activities that I want to do
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9b, "5") Never
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9b, "4") Rarely
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9b, "3") Sometimes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9b, "2") Usually
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9b, "1") Always
                </label>
            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                c. I have trouble doing all of my usual work
                (include work at home)
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9c, "5") Never
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9c, "4") Rarely
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9c, "3") Sometimes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9c, "2") Usually
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9c, "1") Always
                </label>
            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                d. I have trouble doing all of the activities
                with friends that I want to do
            </p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9d, "5") Never
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9d, "4") Rarely
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9d, "3") Sometimes
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9d, "2") Usually
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_9d, "1") Always
                </label>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">10. Please respond by selecting one box for each question</div>
            </div>
            <br />
            <p class="control-label col-md-4">
                a. Are you able to do chores such as
                vacuuming and gardening?
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10a, "5") Without any difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10a, "4") With a little difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10a, "3") With some difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10a, "2") With much difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10a, "1") Unable to do
                </label>
            </div>
            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                b. Are you able to go up and down stairs at
                a normal pace?
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10b, "5") Without any difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10b, "4") With a little difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10b, "3") With some difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10b, "2") With much difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10b, "1") Unable to do
                </label>
            </div>
            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                c. Are you able to go for a walk of at least
                15 minutes?
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10c, "5") Without any difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10c, "4") With a little difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10c, "3") With some difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10c, "2") With much difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10c, "1") Unable to do
                </label>
            </div>
            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                d. Are you able to get out and about or go
                shopping?
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10d, "5") Without any difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10d, "4") With a little difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10d, "3") With some difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10d, "2") With much difficulty
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.A4_10d, "1") Unable to do
                </label>
            </div>
            <br />
            <br />
            <br />
            <br />


            <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary pull-left" name="PreviousPage" id="Previous" value="Previous" />
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="37" aria-valuemin="0" aria-valuemax="100" style="width: 37%;">
                            37%
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
                </div>
            </div>
        </form>
}
