@model PrelimWQ.ViewModels.Page5ViewModel
@{
    ViewBag.Title = "Page5";
}

@using (Html.BeginForm("Page5Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Part 3</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            <button type="submit" class="btn btn-success pull-right">Save Progress</button>
        </div>
    </div>

<form class="form-inline">

        <h5>These questions are about how you may manage your pain.</h5>

    <br />
    <p class="control-label col-md-12">1. In the last month, have you bought any of the following medicines for your pain from
the chemist or supermarket that were not prescribed by a doctor.
<br />(Please cross one box for each)</p><br />

    <br />
    <br />
        <p class="control-label col-md-5">a. Paracetamol</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A3_1a, "1") Yes
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A3_1a, "0") No
            </label>
           

        </div>
    <br />
    <br />
    <p class="control-label col-md-5">b. Anti-inflammatory tablets (e.g Ibuprofen, Naproxen)</p>
    <div class="col-md-7">
        <label class="radio-inline">
           @Html.RadioButtonFor(m => m.A3_1b, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_1b, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">c. Co-codamol (e.g. Solpadeine, Panadol)</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_1c, "1") Yes
        </label>
        <label class="radio-inline">
           @Html.RadioButtonFor(m => m.A3_1c, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">d. Glucosamine / Chrondroitin sulphate</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_1d, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_1d, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">e. Anti-inflammatory creams, gels, rub-ons, sprays
(e.g Emugel, Feldene, Ibuleve, Movelat, Traxam)</p>
    <div class="col-md-7">
        <label class="radio-inline">
           @Html.RadioButtonFor(m => m.A3_1e, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_1e, "0") No
        </label>


    </div>
    <br />
    <br />


    <br />
    <p class="control-label col-md-12">
        2. In the last 6 months, have you seen any of these health care professionals
        for your pains.
    </p>
    <br />
    <br />
    <p class="control-label col-md-5">a. Consultant / hospital specialist</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2a, "1") Yes
        </label>
        <label class="radio-inline">
          @Html.RadioButtonFor(m => m.A3_2a, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">b. Physiotherapist</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2b, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2b, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">c. Hospital nurse</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2c, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2c, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">d. Chiropractor OR Osteopath</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2d, "0") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2d, "0") No
        </label>


    </div>
    <br />
    <br />
    <p class="control-label col-md-5">
        e. Acupuncturist
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2e, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2e, "0") No
        </label>
        </div>
    <br />
    <br />
    <p class="control-label col-md-5">
        f. Other (please specify below)
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2f, "1") Yes
        </label>
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A3_2f, "0") No
        </label>
    </div>
    <p class="control-label col-md-5">
        @Html.TextBoxFor(m => m.A3_2f_other, "Please Specify", new { @class = "form-control" })  

    </p>
    <br />
    <br />







        <br />
        <br />
        <br />
    <div class="row">
        <div class="col-md-6 pull-left">@Html.ActionLink("Next", "Page4", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
        <div class="col-md-6 pull-right">@Html.ActionLink("Next", "Page6", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
    </div>

</form>


