
@{
    ViewBag.Title = "Page13";
}

<br />
<br />
<form class="form-inline">

    <p class="control-label col-md-12">
        8. Thinking about the cost of living as it affects you, which of these description best describes your situation <b>(Please select one box only)</b>
        <br />
        <br />
    </p>
    <div class="col-md-12">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Find it a strain to get
            by from week to
            week
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Have to be careful
            with money
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Able to manage without
            much difficulty
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Quite comfortably off
        </label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />

    <p class="control-label col-md-12">
        9. How often have you felt work or home life stress in the last year?
        <br />
        <br />
    </p>
    <div class="col-md-12">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Never
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Some periods
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Several periods of stress
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Permanent stress
        </label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <p class="control-label col-md-12">
        10. Use the following scale and put a cross in the box for each statement to indicate how
        much you disagree or agree with each of the statements.
        <br />
        <br />
    </p>
    <div class="form-group">
        <p class="control-label col-md-4">a. I tend to bounce back quickly after
hard times</p>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Neutral
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Agree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly
agree
            </label>

        </div>
        </div>
        <br />
        <br />
        <br />
    <div class="form-group">
        <p class="control-label col-md-4">
            b. I have a hard time making it through
            stressful events
        </p>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Neutral
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Agree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly
                agree
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
  
    <div class="form-group">
        <p class="control-label col-md-4">
            c. It does not take me long to recover
            from a stressful event
        </p>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Neutral
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Agree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly
                agree
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-4">
            d. It is hard for me to snap back when
            something bad happens
        </p>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Neutral
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Agree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly
                agree
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
   
    <div class="form-group">
        <p class="control-label col-md-4">
            e. I usually come through difficult times
            with little trouble
        </p>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Neutral
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Agree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly
                agree
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
   
    <div class="form-group">
        <p class="control-label col-md-4">
            f. I tend to take a long time to get over
            set-backs in my life
        </p>
        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Disagree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Neutral
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Agree
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Strongly
                agree
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-12">
            11. What is your current employment status?
            <b>(Select one option only)</b>
            <br />
            <br />
        </p>
    </div>
    <div class="col-md-12">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) In paid
employment
or self employed
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Unable to
work
because of
sickness or
disability
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Retired
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Unemployed / seeking work
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Looking
after home
and / or
family
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1)Doing
            unpaid or
            voluntary
            work
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Full or
part-time
student
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Other
        </label>

    </div>
        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page12", "Questionnaires")</div></div>
            <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page14", "Questionnaires")</div></div>
        </div>
</form>
<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87945481-1', 'auto');
    ga('send', 'pageview');

</script>