@model PrelimWQ.ViewModels.Page8ViewModel
@{
    ViewBag.Title = "Page8";
}
@using (Html.BeginForm("Page8Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Part 5</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
       
    </div>

        <div>
            <p>
                The following questions are about how you feel at the moment. Please read each item and select the reply that comes closest to how you have been feeling <b>in the past week.</b>
                Don't take too long over your replies: your immediate reaction to each item will usually be more accurate than a long thought out response.
            </p>

        </div>
        <br />

        <form class="form-inline">

            <p class="control-label col-md-5">
                1. I feel tense or 'wound up' :
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_1 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_1, "3") Most of the time
                    </label>
                    <label class="btn btn-info @(Model.A5_1 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_1, "2") A lot of the time
                    </label>
                    <label class="btn btn-info @(Model.A5_1 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_1, "1") From time to time, occasionally
                    </label>
                    <label class="btn btn-info @(Model.A5_1 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_1, "0") Not at all
                    </label>
                </div>
            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                2. I still enjoy the things I used to enjoy:
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_2 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_2, "0") Definitely
                    </label>
                    <label class="btn btn-info @(Model.A5_2 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_2, "1") Not quite as much
                    </label>
                    <label class="btn btn-info @(Model.A5_2 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_2, "2") Only a little
                    </label>
                    <label class="btn btn-info @(Model.A5_2 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_2, "3") Hardly at all
                    </label>
                </div>
            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                3. I get a sort of frightened feeling as if something awful is about to happen:
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_3 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_3, "3") Very definitely and quite badly
                    </label>
                    <label class="btn btn-info @(Model.A5_3 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_3, "2") Yes, but not too badly
                    </label>
                    <label class="btn btn-info @(Model.A5_3 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_3, "1")  A little, but it
                    doesn't worry me
                    </label>
                    <label class="btn btn-info @(Model.A5_3 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_3, "0") Hardly at all
                    </label>
                </div>
            </div>
            <br />
            <br />
            <br />
            <hr />
            <p class="control-label col-md-5">
                4. I can laugh and see the funny side of things:
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_4 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_4, "0") As much as
                    I always could
                    </label>
                    <label class="btn btn-info @(Model.A5_4 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_4, "1") Not quite so
                    much now
                    </label>
                    <label class="btn btn-info @(Model.A5_4 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_4, "2")  Definitely not so
                    much now
                    </label>
                    <label class="btn btn-info @(Model.A5_4 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_4, "3") Not at all
                    </label>
                </div>

            </div>
            <br />
            <br />
            <br />
           
       
            <hr />
            <p class="control-label col-md-5">
                5. Worrying thoughts go through my mind:
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_5 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_5, "3") A great deal
                    of the time
                    </label>
                    <label class="btn btn-info @(Model.A5_5 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_5, "2") A lot of
                    the time
                    </label>
                    <label class="btn btn-info @(Model.A5_5 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_5, "1")  Not too often
                        much now
                    </label>
                    <label class="btn btn-info @(Model.A5_5 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_5, "0") Very little
                    </label>
                </div>

            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                6. I feel cheerful:
            </p>
            <div class="col-md-7">
                
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_6 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_6, "3") Never
                    </label>
                    <label class="btn btn-info @(Model.A5_6 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_6, "2") Not often
                        the time
                    </label>
                    <label class="btn btn-info @(Model.A5_6 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_6, "1")  Sometimes
                    </label>
                    <label class="btn btn-info @(Model.A5_6 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_6, "0") Most of the time
                    </label>
                </div>

            </div>
            <br />
            <hr />
            <p class="control-label col-md-5">
                7. I can sit at ease and feel relaxed:
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_7 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_7, "0") Definitely
                    </label>
                    <label class="btn btn-info @(Model.A5_7 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_7, "1") Usually
                    </label>
                    <label class="btn btn-info @(Model.A5_7 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_7, "2")  Not often
                    </label>
                    <label class="btn btn-info @(Model.A5_7 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_7, "3") Not at all
                    </label>
                </div>
            </div>
            <br />
<hr />
            <p class="control-label col-md-5">
                8. I feel as if I am slowed down:
            </p>
            <div class="col-md-7">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.A5_8 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_8, "3") Nearly all the time
                    </label>
                    <label class="btn btn-info @(Model.A5_8 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_8, "2") Very often
                    </label>
                    <label class="btn btn-info @(Model.A5_8 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_8, "1")  Sometimes
                    </label>
                    <label class="btn btn-info @(Model.A5_8 == 0 ? "active":"")">
                        @Html.RadioButtonFor(m => m.A5_8, "0") Not at all
                    </label>
                </div>
            </div>
            <br />
            <br />
            <br />




            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-left" name="PreviousPage" id="Previous" value="Previous" />
                </div>
                @*<div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            50%
                        </div>
                    </div>
                </div>*@
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
                </div>
                <br />
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
                            50%
                        </div>
                    </div>
                </div>
            </div>
        </form>
}