@model PrelimWQ.ViewModels.Page12ViewModel
@{
    ViewBag.Title = "Page12";
}
@using (Html.BeginForm("Page12Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>SECTION C: ABOUT YOU AND YOUR CIRCUMSTANCES</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            <button type="submit" class="btn btn-success pull-right">Save Progress</button>
        </div>
    </div>
<div>
    <p>
        This section contains general questions about yourself and your circumstances. Please
        follow the instructions and answer ALL of the questions relevant to you.
    </p>

</div>
<form class="form-inline">

    <div class="row">
        <div class="col-md-6">
            1. What is your date of birth
        </div>
        <div class="col-md-6">
            <input type="text" class="form-control" placeholder="DD/MM/YY" data-date-format="DD/MM/YY">
        </div>
        <div class="col-md-12">
            (For example - if you were born on the 5th of June 1936, this would be entered as 05/06/36)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            2. Are You
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Female
            </label>
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Male
            </label>
        </div>

    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            3. What is your ethnic group?<br />
            <b>(Please select one option only)</b>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">White
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Black-Caribbean
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Black-African
            </label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Black-Other
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Indian
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Pakistani
            </label>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Bangladeshi
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Chinese
            </label>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Other (please specify)
            </label>
            <label class="radio-inline">
                <input type="text" class="form-control" placeholder="(please specify)">
            </label>
        </div>


    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            4. How old were you when you left school?
        </div>
        <div class="col-md-6">
            <input type="number" class="form-control"> years old
        </div>

    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            5. Did you go on from school to full-time education or university?
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Yes
            </label>
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">No
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            6. Do you have any of the following qualifications? (Select all boxes that apply)
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    a) O Levels / GCSEs (or equivalents)
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    b) A Levels (or equivalents)
                </label>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    c) Vocational training certificate(s) (e.g. City and Guilds, NVQ)
                </label>
            </div>
        </div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    d) University degree(s) or HND
                </label>
            </div>
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">
                    e) Higher professional qualifications (e.g. in accountancy, law, etc.)
                </label>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />
   
    <div class="row">
        <div class="col-md-4">
            7. What is your current marital status?<br /> <b>(Please select one box only)</b>
            <br />
        </div>

        <div class="col-md-8">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Married
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Separated
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Divorced
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Widowed
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Cohabiting
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Single
            </label>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6 pull-left">@Html.ActionLink("Next", "Page11", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
        <div class="col-md-6 pull-right">@Html.ActionLink("Next", "Page13", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
    </div>
</form>
