@model PrelimWQ.ViewModels.Page11ViewModel
@{
    ViewBag.Title = "Page11";
}
@using (Html.BeginForm("Page11Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>SECTION B: continued</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
        
    </div>
        <br />
        <form class="form-inline">
            <div class="row">
                <div class="col-md-12">
                    7. Please tell us <b>the type and amount of physical activity</b> involved in your work.<br />
                    Please select one box only.
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B7 == 1 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B7, "1")   a. I am not in employment (e.g. retired, retired on health reasons, unemployed, full-time carer etc.)
                        </label>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B7 == 2 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B7, "2") b. I spend most of my time at work sitting (such as in an office)
                        </label>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">

                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B7 == 3 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B7, "3")  c. I spend most of my time at work standing or walking. However, my work does not require much intense physical effort (e.g. shop assistant, hairdresser, security guard, childminder, etc.)
                        </label>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B7 == 4 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B7, "4")  d. My work involves definite physical effort including handling of heavy objects and use of tools (e.g. plumber, electrician, carpenter, cleaner, hospital nurse, gardener, postal delivery workers etc.)
                        </label>
                    </div>

                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B7 == 5 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B7, "5") e. My work involves vigorous physical activity including handling of very heavy objects (e.g. scaffolder, construction worker, refuse collector, etc.)
                        </label>
                    </div>
                    
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-1">
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-md-12">
                    8. During the <b>last week,</b> how many hours did you spend on each of the following?<br />
                    <b>(Please answer whether you are in employment or not)</b>
                </div>
            </div>
            <br />
            <p class="control-label col-md-4">
                a. Physical exercise such as swimming,
                jogging, aerobics, football, tennis, gym
                workout etc.
                <br />

            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8a, "1") None
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8a, "2") Some but
                    less than
                    1 hour
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8a, "3") 1 hour but
                    less than
                    3 hours
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8a, "4") 3 hours
                    or more
                </label>
            </div>

            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                b. Cycling, including cycling to work and
                during leisure time
                <br />
                <br />
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8b, "1") None
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8b, "2") Some but
                    less than
                    1 hour
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8b, "3") 1 hour but
                    less than
                    3 hours
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8b, "4") 3 hours
                    or more
                </label>
            </div>
            <br />
            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                c. Walking, including walk to work, shopping,
                for pleasure etc.
                <br />
                <br />
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8c, "1") None
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8c, "2") Some but
                    less than
                    1 hour
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8c, "3") 1 hour but
                    less than
                    3 hours
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8c, "4") 3 hours
                    or more
                </label>
            </div>
            <br />
            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                d. Housework / Childcare
                <br />
                <br />
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8d, "1") None
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8d, "2") Some but
                    less than
                    1 hour
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8d, "3") 1 hour but
                    less than
                    3 hours
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8d, "4") 3 hours
                    or more
                </label>
            </div>
            <br />
            <br />
            <hr />
            <p class="control-label col-md-4">
                e. Gardening / DIY
                <br />
                <br />
            </p>
            <div class="col-md-8">
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8e, "1") None
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8e, "2") Some but
                    less than
                    1 hour
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8e, "3") 1 hour but
                    less than
                    3 hours
                </label>
                <label class="radio-inline">
                    @Html.RadioButtonFor(m => m.B_8e, "4") 3 hours
                    or more
                </label>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    9. How would you describe your usual walking pace?<br /> <b>(Please select one box only)</b>
                    <br />
                </div>

                <div class="col-md-8">
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.B9, "1") Slow pace
                        (i.e. less than 3 mph)
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.B9, "2") Steady average pace
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.B9, "3") Brisk pace
                    </label>
                    <label class="radio-inline">
                        @Html.RadioButtonFor(m => m.B9, "4") Fast pace
                        (i.e. over 4 mph)
                    </label>
                </div>
            </div>


            <br />
            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary pull-left" name="PreviousPage" id="Previous" value="Previous" />
                </div>
                <div class="col-md-4">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="68" aria-valuemin="0" aria-valuemax="100" style="width: 68%;">
                            68%
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
                </div>
            </div>
        </form>
}