
@{
    ViewBag.Title = "Page8";
}

<h2>Part 5</h2>
<div>
    <p>The following questions are about how you feel at the moment. Please read each item and put
a cross next to the reply that comes closest to how you have been feeling <b>in the past week.</b>
Don't take too long over your replies:your immediate reaction to each item will usually be more
accurate than a long thought out response</p>
    
</div>
<br />

<form class="form-inline">

    <p class="control-label col-md-5">
        1. I feel tense or 'wound up' :
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Most of the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) A lot of the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) From time to time, occasionally
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        1. I feel tense or 'wound up':
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Most of the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) A lot of the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) From time to time, occasionally
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        2. I still enjoy the things I used to enjoy:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Definitely
as much
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not quite as much
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Only a little
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Hardly at all
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        3. I get a sort of frightened feeling as if something awful is about to happen:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very definitely
and quite badly
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Yes, but not
too badly
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) A little, but it
doesn't worry me
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        4. I can laugh and see the funny side of things:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1)As much as
            I always could
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not quite so
much now
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Definitely not so
much now
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
    </div>
    <br />
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        5. Worrying thoughts go through my mind:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1)A great deal
            of the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1)A lot of
            the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not too often
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very little
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        6. I feel cheerful:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Never
            of the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not often
            the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Sometimes
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Most of the time
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        7. I can sit at ease and feel relaxed:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Definitely
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Usually
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not often
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        8. I feel as if I am slowed down:
    </p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Nearly all the time
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Very often
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Sometimes
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
    </div>
    <br />
    <br />
    <br />
   

    

        <br />
        <br />
        <br />
        <div class="row">
            <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page7", "Questionnaires")</div></div>
            <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page9", "Questionnaires")</div></div>
        </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>
