@model PrelimWQ.ViewModels.Page4ViewModel
@{
    ViewBag.Title = "Page4";
}
@using (Html.BeginForm("Page4Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">

        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            <button type="submit" class="btn btn-success pull-right">Save Progress</button>
        </div>
    </div>
<br />
<br />
<br />
<form class="form-inline">

    <div class="form-group">
        <p class="control-label col-md-5">13. <b>Sleep.</b> How often have you had trouble with either falling asleep or staying asleep because of your joint or muscle symptoms in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_13, "4") Not at all
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_13, "2") Rarely
            </label>
            <label class="radio-inline">
              @Html.RadioButtonFor(m => m.A2_13, "3") Sometimes
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_13, "1") Frequently
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_13, "0") All the time
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-5">14. <b>Fatigue or low energy.</b>  How much fatigue or low energy have you felt in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_14, "4") Not at all
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_14, "3") Slight
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_14, "2") Moderate
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_14, "1") Severe
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_14, "0") Extremely 
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />


    <div class="form-group">
        <p class="control-label col-md-5">15. <b>Emotional well-being.</b> How much have you felt anxious or low in your mood because of your joint or muscle symptoms in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_15, "4") Not at all
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_15, "3") Slightly
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_15, "2") Moderately
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_15, "1") Severely
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_15, "0") Extremely
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-5">16. <b>Understanding of your condition and any current treatment</b>. Thinking about your joint or muscle symptoms, how well do you feel you understand your condition and any current treatment (including your diagnosis and medication)?</p>
        <div class="col-md-7">
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_16, "4") Completely
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_16, "3") Very Well
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_16, "2") Moderately
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_16, "1") Slightly
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_16, "0") Not at all
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-5">17. <b>Confidence in being able to manage your symptoms.</b> How much has it been a problem for you to do physical activities (e.g. going for a walk or jogging) to the level you want because of your joint or muscle symptoms in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_17, "4") Extremely
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_17, "3") Very
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_17, "2") Moderately
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_17, "1") Slightly
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_17, "0") Not at all
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-5">18. <b>Overall impact.</b> How much have your joint or muscle symptoms bothered you overall in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_18, "4") Not at all
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_18, "3") Slightly
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_18, "2")  Moderately
            </label>
            <label class="radio-inline">
              @Html.RadioButtonFor(m => m.A2_18, "1")  Severely
            </label>
            <label class="radio-inline">
              @Html.RadioButtonFor(m => m.A2_18, "0")  Extremely
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-12">19. <b>Physical activity levels.</b></p>
        <p class="control-label col-md-5">
            <b>In the past week,</b> on how many days have you done a total of 30 minutes or more of physical activity, which was enough to raise your heart rate? <br /><i>
                This may include sport, exercise and brisk walking or cycling for recreation or to get to and from places, but should not include housework or physical activity that is part of your job.
            </i>
        </p>
        <div class="col-md-5"></div>
        <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButtonFor(m => m.A2_19, "0")  None
        </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_19, "1") 1 day
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_19, "2") 2 days
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_19, "3") 3 days
            </label>
            <label class="radio-inline">
                @Html.RadioButtonFor(m => m.A2_19, "4")4 days
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_19, "5") 5 days
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_19, "6") 6 days
            </label>
            <label class="radio-inline">
               @Html.RadioButtonFor(m => m.A2_19, "7") 7 days
            </label>
        


    </div>
        </div>

        <br />
        <br />
        <br />



        <br />
        <br />
        <br />
    <div class="row">
        <div class="col-md-6 pull-left">@Html.ActionLink("Next", "Page3", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
        <div class="col-md-6 pull-right">@Html.ActionLink("Next", "Page5", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
    </div>

</form>


