@model PrelimWQ.ViewModels.Page10ViewModel
@{
    ViewBag.Title = "Page10";
}
@using (Html.BeginForm("Page10Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Section B: Lifestyle</b>
            </h2>
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            @Html.AntiForgeryToken()
            <input type="submit" class="btn btn-success pull-right" name="SaveWork" id="SaveWork" value="Save Progress" />
        </div>
        
    </div>
        <br />
        <br />


        <form class="form-inline">

            <div class="row">
                <div class="col-md-2">
                    1. What is your weight?
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B1_stones, "{0:##}", new { @class = "form-control", placeholder = "Stone" })
                        <div class="input-group-addon">st</div>
                    </div>

                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B1_llbs, "{0:##.#}", new { @class = "form-control", placeholder = "Pounds" })
                        <div class="input-group-addon">lb</div>
                    </div>
                </div>
                <div class="col-md-1">or</div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B1_kgs, "{0:###.#}", new { @class = "form-control", placeholder = "Kilograms" })
                        <div class="input-group-addon">kg</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2">
                    2. What is your height?
                </div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B2_feet, "{0:#}", new { @class = "form-control", placeholder = "Feet" })
                        <div class="input-group-addon">ft</div>
                    </div>
                </div>


                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B2_inches, "{0:##.#}", new { @class = "form-control", placeholder = "Inches" })
                        <div class="input-group-addon">in</div>
                    </div>


                </div>
                <div class="col-md-1">or</div>
                <div class="col-md-2">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B2_cms, "{0:###.#}", new { @class = "form-control", placeholder = "Centimetres" })
                        <div class="input-group-addon">cm</div>
                    </div>

                </div>
            </div>
            <br />
                <div class="row">
                    <div class="col-md-12">
                        3. Pick the description that matches you best
                    </div>
                    <div class="col-md-2"></div>
                    <div class="col-md-3"><div class="btn-group" data-toggle="buttons">

    <label class="btn btn-info @(Model.B3 == 1 ? "active":"")">
        @Html.RadioButtonFor(m => m.B3, "1") I have never smoked
    </label></div>
</div>
                    <div class="col-md-1">

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-3"><div class="btn-group" data-toggle="buttons">
    <label class="btn btn-info @(Model.B3 == 2 ? "active":"")">
        @Html.RadioButtonFor(m => m.B3, "2") I am a former smoker (last smoked more than 12 months ago)
    </label>
                        </div>
</div>
                    <div class="col-md-1">

                    </div>
                </div>
                <br />
                <div class="row">

                    <div class="col-md-2"></div>
                    <div class="col-md-7">I am a current smoker or I smoked regularly in the last 12 months and I smoke</div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B3 == 3 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B3, "3") 1-5 cigarettes / day
                        </label>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-3"></div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B3 == 4 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B3, "4") 6-10
                            cigarettes / day
                        </label>
                        </div>
                        <div class="col-md-1">
                        </div>
                        <br />
                        <br />
                        <div class="col-md-3"></div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B3 == 5 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B3, "5") 11-15
                            cigarettes / day
                        </label>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <br />
                        <br />
                        <div class="col-md-3"></div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B3 == 6 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B3, "6") 16-20
                            cigarettes / day
                        </label>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <br />
                        <br />
                        <div class="col-md-3"></div>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-info @(Model.B3 == 7 ? "active":"")">
                            @Html.RadioButtonFor(m => m.B3, "7") More than 20 cigarettes / day
                        </label>
                        </div>
                        <div class="col-md-1">

                        </div>
                        <br />
                        <br />
                    </div>
           
<hr />
            <p class="control-label col-md-12">
                4. About how often do you drink alcohol?
                <br /><b>(Please select one box only)</b>
                <br />
                <br />
            </p>
            <div class="col-md-12">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.B4 == 6 ? "active":"")">
                      @Html.RadioButtonFor(m => m.B4, "6") Daily or
                    almost
                    daily
                    </label>
                    <label class="btn btn-info @(Model.B4 == 5 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B4, "5") 3 or 4
                        times
                        a week
                        </label>
                    <label class="btn btn-info @(Model.B4 == 4 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B4, "4") Once or
                        twice a
                        week
                    </label>
                    <label class="btn btn-info @(Model.B4 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B4, "3") 1 to 3
                        times a
                        month
                    </label>
                    <label class="btn btn-info @(Model.B4 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B4, "2") Special
                        occasions
                        only
                    </label>
                    <label class="btn btn-info @(Model.B4 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B4, "1") Never (please move to question 7)
                    </label>
                </div>
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <hr />

            
            <div class="row">
                <div class="col-md-12">
                    5. In an <b>average</b> week how many......
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5"><b>regular</b> (175ml) glasses of <b>wine</b> would you drink?<br /> <i>(there are roughly four regular glasses in an average bottle)</i></div>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B5_a, "{0:###.#}", new { @class = "form-control", placeholder = "Wine" })
                        <div class="input-group-addon">glasses of wine</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5">pints of <b>beer</b> or <b>cider</b> would you drink?<br /> <i>(includes bitter, lager, stout, ale, Guinness)</i></div>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B5_b, "{0:###.#}", new { @class = "form-control", placeholder = "Beers" })
                        <div class="input-group-addon">pints</div>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5"><b>single</b> measures (25ml) of <b>spirits or liqueurs</b> would you drink?<br /><i>(includes drinks such as whisky, gin, vodka)</i></div>
                <div class="col-md-4">
                    <div class="input-group">
                        @Html.TextBoxFor(m => m.B5_c, "{0:#.#}", new { @class = "form-control", placeholder = "Spirits" })
                        <div class="input-group-addon">single measure of spirits</div>
                    </div>
                </div>
            </div>
            <br />

            <hr />
            <p class="control-label col-md-5">
                6. Compared to 10 years ago, do you drink......

                <br />
                <br />
            </p>
            <div class="col-md-6">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info @(Model.B6 == 1 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B6, "1") More nowadays
                    </label>
                    <label class="btn btn-info @(Model.B6 == 2 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B6, "2") About the same
                    </label>
                    <label class="btn btn-info @(Model.B6 == 3 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B6, "3") Less nowadays
                    </label>
                    <label class="btn btn-info @(Model.B6 == 4 ? "active":"")">
                        @Html.RadioButtonFor(m => m.B6, "4") Don't know
                    </label>
                </div>
            </div>
            <br />
            <br />
            <br />

            <br />
            <br />
            <br />
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-left" name="PreviousPage" id="Previous" value="Previous" />
                </div>
                @*<div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                            62%
                        </div>
                    </div>
                </div>*@
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary pull-right" name="ProgressPage" id="ProgressPage" value="Next" />
                </div>
                <br />
                <div class="col-md-12">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;">
                            62%
                        </div>
                    </div>
                </div>
            </div>
        </form>

}


