
@{
    ViewBag.Title = "Page10";
}

<h2>Section B: Lifestyle</h2>
<br />
<br />


<form class="form-inline">

    <div class="row">
        <div class="col-md-2">
            1. What is your weight?
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" id="exampleInputEmail1">st
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" id="exampleInputEmail1">lb
        </div>
        <div class="col-md-1">or</div>
        <div class="col-md-3">
            <input type="number" class="form-control" id="exampleInputEmail1">kg
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2">
            2. What is your height?
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" id="exampleInputEmail1">ft
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" id="exampleInputEmail1">in
        </div>
        <div class="col-md-1">or</div>
        <div class="col-md-3">
            <input type="number" class="form-control" id="exampleInputEmail1">cm
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            3. Pick the description that matches you best
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">I have never smoked</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">I am a former smoker (last smoked more than 12 months ago)</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-7">I am a current smoker or I smoked regulary in the last 12 months and I smoke</div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-3">1-5 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">6-10 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">11-15 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">16-20 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <br />
        <br />
        <div class="col-md-2"></div>
        <div class="col-md-3">More than 20 cigarettes / day</div>
        <div class="col-md-1">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <br />
        <br />
    </div>
    <br />
    <br />
    <p class="control-label col-md-12">
        4. About how often do you drink alcohol?
        <br /><b>(Please put a cross in one box only)</b>
        <br />
        <br />
    </p>
    <div class="col-md-12">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Daily or
            almost
            daily
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) 3 or 4
            times
            a week
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Once or
            twice a
            week
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) 1 to 3
            times a
            month
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Special
            occasions
            only
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Never
        </label>
    </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-12">
            5. In an <b>average</b> week how many......
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5"><b>regular</b> (175ml) glasses of <b>wine</b> would you drink?<br /> (there are roughly four regular glasses in an average bottle)</div>
        <div class="col-md-1">
            <input type="number" class="form-control" id="exampleInputEmail1">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">pints of <b>beer</b> or <b>cider</b> would you drink?<br /> (includes bitter, lager, stout, ale, Guiness)</div>
        <div class="col-md-1">
            <input type="number" class="form-control" id="exampleInputEmail1">
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5"><b>single</b> measures (25ml) of <b>spirits or liquers</b> would you drink?<br />(includes drinks such as whisky, gin, vodka)</div>
        <div class="col-md-1">
            <input type="number" class="form-control" id="exampleInputEmail1">
        </div>
    </div>
    <br />
    <br />
    <br />
    <p class="control-label col-md-5">
        6. Compared to 10 years ago, do you drink......
     
        <br />
        <br />
    </p>
    <div class="col-md-6">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) More nowadays
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) About the same
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Less nowadays
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Don't know
        </label>
    </div>
    <br />
    <br />
    <br />

    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page9", "Questionnaires")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page11", "Questionnaires")</div></div>
    </div>
</form>
<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-87945481-1', 'auto');
            ga('send', 'pageview');

</script>



