@model PrelimWQ.ViewModels.Page14ViewModel
@{
    ViewBag.Title = "Page14";
}
@using (Html.BeginForm("Page14Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
            <br />
            @Html.HiddenFor(m => m.Id)
            <button type="submit" class="btn btn-success pull-right">Save Progress</button>
        </div>
    </div>
<br />
<br />
<form class="form-inline">
    <div class="row">
        <div class="col-md-6">
            12. If you are <b>working</b> what is your job title? (examples - factory worker, welder, office worker, lawyer)
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            13. If you provided a job title in the question above please state in which field of employment this was (examples - manufacturing, civil service, health care)
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            14. If you are <b>not working </b>or <b>retired</b> what job have you done for <b>most</b> of your working life? (examples - factory worker, welder, office worker, lawyer)
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            15. If you provided a job title in the question above please state in which field of employment this was (examples - manufacturing, civil service, health care)
        </div>
        <div class="col-md-6">
            <textarea class="form-control" rows="2"></textarea>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            16. Do you look after, or give any help or support to family members, friends, neighbors or others because of either:-<br /><b>long-term physical or mental ill-health / disability? Problems related to old age?</b>
        </div>
        <div class="col-md-12">
            <i>Do not count anything you do as part of paid employment</i>
        </div>
        <br />
        <div class="col-md-4"></div>
        <div class="col-md-2">No</div>
        <div class="col-md-2">Yes, 1-19 hours a week</div>
        <div class="col-md-2">Yes, 20-49 hours a week</div>
        <div class="col-md-2">Yes, 50 or more hours per week</div>
    </div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" value="option1">
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
        <div class="col-md-2">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">
            </label>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <p class="text-center">
                These questions are about <b>your current work.</b> If you are not working, please go to <div class="btn btn-default center-block">@Html.ActionLink("Section D", "Page16", "Questionnaire")</div>
            </p>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-6">
            17. How would you best describe your <b>typical working week</b> in the <b>last 12 months?</b>
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Working full-time (30 hours or more per week)
            </label>
        </div>
        <div class="col-md-3">
            <label class="radio-inline">
                <input type="radio" name="q1" id="inlineRadio1" value="option1">Working part-time (29 hours or less per week)
            </label>
        </div>

    </div>
    <br />
    <br />


    <div class="row">
        <div class="col-md-5">
            18. How satisfied are you with your employment?
            <br />
            <br />
        </div>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Very
satisfied
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Satisfied
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) No opinion
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Not very
satisfied
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Not at all
satisfied
            </label>

        </div>
    </div>







    <br />
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6 pull-left">@Html.ActionLink("Next", "Page13", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
        <div class="col-md-6 pull-right">@Html.ActionLink("Next", "Page15", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
    </div>
</form>
