
@{
    ViewBag.Title = "Page3";
}

<br />
<div>
    <p>These questions are about any <b>joint, back, neck, bone and muscle symptoms</b> such as
aches, pains and / or stiffness that you may have.</p><p>Please complete each of the following
questions <b>even if you have not suffered pain in any of these areas.</b></p>
    <p>For each question <b>please select</b> which statement best describes you</p>
    <br />
</div>

    <form class="form-inline">
    <br />
    <br />

    <div class="form-group">
        <p class="control-label col-md-5">5. <b>Pain / stiffness</b> during the <b>day</b>.  How severe was your usual joint or muscle pain and / or stiffness overall during the <b>day</b> in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Not at all
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Slightly
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Moderately
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Fairly severe
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Very severe
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="form-group">
        <p class="control-label col-md-5">6. <b>Pain / stiffness</b> during the <b>night</b>.  How severe was your usual joint or muscle pain and / or stiffness overall during the <b>night</b> in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Not at all
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Slightly
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Moderately
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Fairly severe
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Very severe
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        <p class="control-label col-md-5">7. <b>Walking</b>.  How much have your symptoms interfered with your ability to walk in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Not at all
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Slightly
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Moderately
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Severely
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Unable to walk
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        <p class="control-label col-md-5">8. <b>Washing/Dressing</b>.  How much have your symptoms interfered with your ability to wash or dress yourself in the last 2 weeks?</p>
        <div class="col-md-7">
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Not at all
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Slightly
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Moderately
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Severely
            </label>
            <label class="radio-inline">
                @Html.RadioButton("q1", 1) Unable to wash or dress myself
            </label>

        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="form-group">
        <p class="control-label col-md-5">9. <b>Physical activity levels</b>.How much has it been a problem for you to do physical activities (e.g. going for a walk or jogging) to the level you want because of your joint or muscle symptoms in the last 2 weeks?</p>
    <div class="col-md-7">
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Not at all
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Slightly
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Moderately
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Severely
        </label>
        <label class="radio-inline">
            @Html.RadioButton("q1", 1) Unable to do physical activities
        </label>

    </div>
    </div>
    <br />
    <br />
    <br />


        <div class="form-group">
            <p class="control-label col-md-5">10. <b>Word / daily routine</b>.How much have your joint or muscle symptoms interfered with your work or daily routine in the last 2 weeks (including work & jobs around the house)?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Not at all
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Slightly
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Moderately
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Severely
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Extremely
                </label>

            </div>
        </div>
        <br />
        <br />
        <br />

        <div class="form-group">
            <p class="control-label col-md-5">11. <b>Social activities and hobbies.</b> How much have your joint or muscle symptoms interfered with your social activities and hobbies in the last 2 weeks?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Not at all
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Slightly
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Moderately
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Severely
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Extremely
                </label>

            </div>
        </div>
        <br />
        <br />
        <br />


        <div class="form-group">
            <p class="control-label col-md-5">12. <b>Needing help.</b>How often have you needed help from others (including family, friends or carers) because of your joint or muscle symptoms in the last 2 weeks?</p>
            <div class="col-md-7">
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Not at all
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Rarely
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Sometimes
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) Frequently
                </label>
                <label class="radio-inline">
                    @Html.RadioButton("q1", 1) All the time
                </label>

            </div>
        </div>
        <br />
        <br />
        <br />



    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-6"><div class="btn btn-default">@Html.ActionLink("Previous", "Page2", "Questionnaires")</div></div>
        <div class="col-md-6"><div class="btn btn-default pull-right">@Html.ActionLink("Next", "Page4", "Questionnaires")</div></div>
    </div>
</form>

    <script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87945481-1', 'auto');
    ga('send', 'pageview');

    </script>
