@model PrelimWQ.ViewModels.Page1ViewModel


@{
    ViewBag.Title = "Part 2";
}
@using (Html.BeginForm("Page1Save", "Questionnaires"))
{

    <br />
    <div class="row">
        <div class="col-md-6">
            <h2>
                <b>Part 2</b>
            </h2>
        </div>
        <div class="col-md-6" >
            <br />
            @Html.HiddenFor(m => m.Questionnaire.Id)
            <button type="submit" class="btn btn-success pull-right" value="Page1Save">Save Progress</button>
        </div>
    </div>


<br />
<h4>
    These questions are about PAIN. Please complete each of the following questions <b>
        even if
        you have not suffered pain.
    </b>
</h4>
<br />


   
<form class="form-inline">
    <div class="form-group">
      
        <div>
            @section Styles {
                <style>
                    .table th, .table td {
                        border-top: none !important;
                        border-left: none !important;
                    }
                </style>
            }
            <table class="table">
                <tr>
                    <td>1. In the <b>past 6 months</b>, how often did you have pain?</td>
                    <td>
                       @Html.RadioButtonFor(m => m.A2_1, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_1, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_1, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_1, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>2. Over the <b>past 6 months</b>, how often did pain limit your life or work activities?</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_2, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_2, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_2, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_2, "4")
                        Every day
                    </td>
                </tr>
                </table>

            <p>These questions are about <b>HOW OFTEN</b> you have had pain in different parts of the body in
the <b>last 6 months</b>.</p> 
            <p>Please complete each of the following questions even if you have not
suffered pain in any of these areas.</p>
            <table class="table">
                <tr>
                    <td>3. On how many days in the <b>last 6 months</b> have you had.......?</td>
                </tr>
                <tr>
                    <td>a. Headache</td>
                    <td>
                    @Html.RadioButtonFor(m => m.A2_3a, "1")
                    Never
                    @Html.RadioButtonFor(m => m.A2_3a, "2")
                    Some days
                    @Html.RadioButtonFor(m => m.A2_3a, "3")
                    Most days
                    @Html.RadioButtonFor(m => m.A2_3a, "4")
                    Every day
                    </td>
                </tr>
                <tr>
                    <td>b. Neck pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3b, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3b, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3b, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3b, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>c. Shoulder pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3c, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3c, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3c, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3c, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>d. Hand / wrist pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3d, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3d, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3d, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3d, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>e. Chest pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3e, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3e, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3e, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3e, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>f. Stomach pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3f, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3f, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3f, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3f, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>g. Back pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3g, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3g, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3g, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3g, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>h. Hip pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3h, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3h, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3h, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3h, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>i. Knee pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3i, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3i, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3i, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3i, "4")
                        Every day
                    </td>
                </tr>
                <tr>
                    <td>j. Foot / ankle pain</td>
                    <td>
                        @Html.RadioButtonFor(m => m.A2_3j, "1")
                        Never
                        @Html.RadioButtonFor(m => m.A2_3j, "2")
                        Some days
                        @Html.RadioButtonFor(m => m.A2_3j, "3")
                        Most days
                        @Html.RadioButtonFor(m => m.A2_3j, "4")
                        Every day
                    </td>
                </tr>
            </table>
        </div>
       
        
    

        <div class ="text-right">
            <div>@Html.ActionLink("Next", "Page2", "Questionnaires", null, new { @class = "btn btn-primary" })</div>
           
        </div>
        
    </div>
</form>

}

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
        m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-87945481-1', 'auto');
    ga('send', 'pageview');

</script>